myProject.uvguix.weida
Listings/
Objects/
RTE/
EventRecorderStub.scvd
PWMTest.uvguix.User
PWMTest.uvoptx
PWMTest.uvprojx
myProject.uvguix.User
myProject.uvoptx
myProject.uvprojx
messagequeue.c
messagequeue.uvguix.weida
messagequeue.uvoptx
messagequeue.uvprojx
project.uvguix.User
project.uvoptx
project.uvprojx
Boards/
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/Motor Code/v16/Browse.VC.db
.vs/Motor Code/v16/Browse.VC.db-shm
.vs/Motor Code/v16/Browse.VC.db-wal
